:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SCDream4';
  src: url('/fonts/SCDream4.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'SCDream5';
  src: url('/fonts/SCDream5.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'SCDream7';
  src: url('/fonts/SCDream7.otf') format('truetype');
  font-style: normal;
}
* {
  font-family: 'SCDream4', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2 {
  font-family: 'SCDream7', sans-serif;
}

.subTitle {
  font-family: 'SCDream5', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fbfbfb;
  }
}
